<!doctype html>

<html lang="en">
    <head>
      <title>{{title}}</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link href="../../stylesheets/style.css" rel="stylesheet">
    </head>
    
    <body class="bg">
    
    {{> header}}

    <div class="sidebar">
        <ul class="sidebar_a">
            {{#each medications}}
                <li>
                    <a href="#{{this.name}}">{{this.name}}</a>
                </li>
            {{/each}}
            <li>
                <a href=""><i>Back to top</i></a>
            </li>
        </ul>
    </div>

    <h1>{{pageName}}</h1>
    
    <div class="topics_card_container">
        {{#each medications}}
        <div class="topic_card">
            <div class="topic_card_header" id="{{this.name}}">
                <h3 class="topic_card_title">{{this.name}}</h3>
            </div>
            <div class="topic_card_body">
                <p><b>Age: </b>{{this.age}}</p>
                <p><b>Dose:</b> {{{this.dose}}}</p>
                <p><b>Indications:</b> {{{this.indications}}}</p>
                <p><b>Contraindications:</b> {{this.contraindications}}</p>
                <p><b>Side Effects:</b> {{this.sideEffects}}</p>
                <p><b>Actions:</b> {{this.actions}}</p>
                <p><b>Notes:</b> {{this.notes}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    {{> footer}}
  </body>
</html>
